<div class="sidebar">
  {{ with ( .Site.GetPage "page" "about" ) }}
  <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
  {{ .Summary }}
  {{ end }}
  <hr />
  <h4><a href="/posts/reading_list">Recommended Reading List</a></h4>
  <hr />
  <h4><a href="/">Table Of Contents</a></h4>
  {{ .TableOfContents }}
  <hr />
  <h4><a href="{{ "/tags/" | relLangURL }}">Tags</a></h4>
  {{ with .Params.Tags }}
  <div>
    {{ range . }}
    <a class="badge badge-pill badge-secondary" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
    {{ end }}
  </div>
  {{ end }}
</div>
